*.iml
.gradle/
build/
local.properties
local.properties.bak
.idea/
.DS_Store
captures/
.externalNativeBuild/
.cxx/
*.apk
*.aab
*.ap_
*.dex
app/release.keystore
app/libs/libbox.aar
app/libs/libbox-legacy.aar
app/schemas/
.androidide/
*.bak
third_party/termux-app/
